body{
		background-color: #FFFFFF; 
		color: #003366; 
		font-family: Verdana, Arial, sans-serif;
	}

header {
		background-color: #003366; 
	    color: #AEC3E3; 
		font-family: Georgia, New Times Roman, serif;
	}
		
h1  {
	  	line-height: 200%; 
		text-indent: 1em;
	}
   
nav {
		font-weight: bold;
	}

dt 	{
		color: #5280C5; 
		font-size: 1em; 
		font-weight: bold;
	}
   
.category {
		color: #5380C5; 
		font-weight: bold; 
		font-family: Georgia, New Times Roman, serif;
		  }
		  
#wrapper {
		width: 80%;
		margin-right: auto;
		margin-left: auto;
		background-color: #F0F0F0;
		}

footer {
		font-size: .70em; 
		font-style: italic;
		}